body {
    display: block;
}

.tableSpread {
    display: flex;
    height: 500px;
    width: 500px;
    border-style: solid;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-grow:1;
}


.square {
    width: auto;
    height: auto;
    display: flex;
    align-items: stretch;
    flex-grow:1;
}