body {
    display: block;
}

.tableSpread {
    display: flex;
    height: 500px;
    width: 500px;
    border-style: solid;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    border-style: solid;
    flex-grow:1;
}

.column {
    display: flex;
    align-items: stretch;
    flex-grow:1;
    border-style:solid;
}

.square {
    width:auto;
    height:auto;
}